/*
 * Copyright (c) 2011-2018 JFXtras
 *  All rights reserved.
 *
 *  Redistribution and use in source and binary forms, with or without
 *  modification, are permitted provided that the following conditions are met:
 *      * Redistributions of source code must retain the above copyright
 *        notice, this list of conditions and the following disclaimer.
 *      * Redistributions in binary form must reproduce the above copyright
 *        notice, this list of conditions and the following disclaimer in the
 *        documentation and/or other materials provided with the distribution.
 *      * Neither the name of the organization nor the
 *        names of its contributors may be used to endorse or promote products
 *        derived from this software without specific prior written permission.
 *
 *  THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
 *  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
 *  WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
 *  DISCLAIMED. IN NO EVENT SHALL <COPYRIGHT HOLDER> BE LIABLE FOR ANY
 *  DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
 *  (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
 *  LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
 *  ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
 *  (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
 *  SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 */

@import "JMetroBase.css";

.root {
    background_color: white;
    scroll_pane_background_color: background_color;

    tab_pane_background_color: white;
}

.background{
    -fx-background-color: white;
}

.header{
    -fx-text-fill: black;
}

.item-title{
    -fx-text-fill: black;
}

/*******************************************************************************
 *                                                                             *
 * Common Styles                                                               *
 *                                                                             *
 * These are styles that give a standard look to a whole range of controls     *
 *                                                                             *
 ******************************************************************************/

/* ====   CONTROLS WITH ARROW BUTTONS ======================================= */

.menu-button,
.choice-box,
.combo-box-base {
    arrow_color: #111;
}

/* ====   CONTROLS WITH CELLS   ============================================= */

.list-view, .table-view, .tree-view, .tree-table-view {
    cell_hover_color: #dadada;
    cell_pressed_color: #c2c2c2;

    cell_selected_unfocused_color: cell_hover_color;

    cell_selected_color: derive(accent_color, 90%);
    cell_selected_hover_color: derive(accent_color, 70%);
    cell_selected_pressed_color: derive(accent_color, 60%);
}

/*******************************************************************************
 *                                                                             *
 * Button and ToggleButton                                                     *
 *                                                                             *
 ******************************************************************************/

.button, .toggle-button {
    button_background_color: #cccccc;
    background_pressed_color: #999999;

    border_hover_color: #7a7a7a;

    text_color: #111;
    default_button_text_color: white;

    focus_ring_border_color: white;
}

.button {
    border_hover_default_color: derive(accent_color, -40%);
}

.toggle-button {
    border_hover_selected_color: derive(accent_color, -40%);
}

/*******************************************************************************
 *                                                                             *
 * Check Box                                                                   *
 *                                                                             *
 ******************************************************************************/
.check-box {
    text_color: #111;

    box_background_color: white;

    box_border_color: #333333;
    box_border_hover_color: #333333;

    indeterminate_mark_color: #333333;
    indeterminate_box_pressed_color: white;

    focus_ring_color: #111;
}

/*******************************************************************************
 *                                                                             *
 * Hyperlink                                                                  *
 *                                                                             *
 ******************************************************************************/

.hyperlink {
    hyperlink_hover_color: derive(accent_color, -25%);
    hyperlink_pressed_color: derive(accent_color, -70%);

    hyperlink_disabled_color: #999999;
}

.hyperlink:disabled {
    -fx-opacity: 0.7;
}

/*******************************************************************************
 *                                                                             *
 * Radio Button                                                                *
 *                                                                             *
 ******************************************************************************/

.radio-button {
    text_color: #111;

    radio_background_color: white;
    background_pressed_color: white;

    border_color: #333333;
    border_hover_color: #333333;

    dot_color: white;
    dot_selected_color: #333333;
    dot_selected_hover_color: #111;

    focus_ring_color: #333333;
}

/*******************************************************************************
 *                                                                             *
 * Tooltip                                                                     *
 *                                                                             *
 ******************************************************************************/

.tooltip {
    tooltip_background_color: #f2f2f2;
    border_color: #cccccc;
    text_color: #111;
}

/*******************************************************************************
 *                                                                             *
 * ToolBar                                                                     *
 *                                                                             *
 ******************************************************************************/

.tool-bar {
    background_color: white;
}

/*******************************************************************************
 *                                                                             *
 * Scroll Bar and Scroll Pane                                                  *
 *                                                                             *
 ******************************************************************************/

.scroll-bar {
    thumb_color: #c2c7ca;
    thumb_hover_color: #838689;
    thumb_pressed_color: #585a5c;

    track_color: #e9e9e9;

    inc_dec_button_color: #e8e6e3;
    inc_dec_button_hover_color: #c6cacf;
    inc_dec_button_pressed_color: #585a5c;

    arrow_color: #5a5a59;
    arrow_pressed_color: white;
}

/*******************************************************************************
 *                                                                             *
 * Combo Box                                                                   *
 *                                                                             *
 ******************************************************************************/

.combo-box-base {
    border_color: #999999;
    border_hover_color: #666666;
    border_focused_color: #5c5c5c;
    border_pressed_color: border_color;

    combo_box_background_color: white;
    background_pressed_color: #cccccc;

    text_color: #111;

    list_cell_color: #f2f2f2;
    list_cell_hover_color: #dedede;

    list_cell_border_color: #cccccc;
}

/*******************************************************************************
 *                                                                             *
 * Rating (ControlsFX)                                                         *
 *                                                                             *
 ******************************************************************************/

.rating {
    star_color: #bababa;
}

/*******************************************************************************
 *                                                                             *
 * Text Common (TextField, PasswordField, TextArea)                            *
 *                                                                             *
 ******************************************************************************/

.text-input {
    border_color: #999999;
    border_hover_color: #666666;
    border_disabled_color: #d9d9d9;

    text_input_background_color: white;
    background_focused_color: white;
    background_hover_color: white;
    background_disabled_color: #eaeaea;

    text_color: #111;
    text_focused_color: #111;
    text_disabled_color: #adadad;
    prompt_text_color: #666666;

    highlight_color: accent_color;
    highlighted_text_color: white;

    graphic_color: #747474;
}

/*******************************************************************************
 *                                                                             *
 * Menu Button                                                                 *
 *                                                                             *
 ******************************************************************************/

.menu-button {
    menu_button_background_color: #ccc;
    menu_button_text_color: #111;
    menu_border_hover_color: #7a7a7a;
    menu_button_pressed_color: #999;
}

/*******************************************************************************
 *                                                                             *
 * Progress Bar                                                                *
 *                                                                             *
 ******************************************************************************/

.progress-bar {
    progress_background_color: #ccc;
}

/*******************************************************************************
 *                                                                             *
 * Slider                                                                      *
 *                                                                             *
 ******************************************************************************/

.slider {
    track_hover_color: #666666;
    thumb_hover_color: #171717;

    thumb_pressed_color: #cccccc;
}

/*******************************************************************************
 *                                                                             *
 * Toggle Switch (ControlsFX)                                                  *
 *                                                                             *
 ******************************************************************************/

.toggle-switch {
    text_color: #111;

    /* Unselected */
    unselected_color: white;
    unselected_border_color: #111;
    thumb_unselected_color: #111;
    /* --    hover */
    unselected_hover_color: unselected_color;
    unselected_border_hover_color: #111;
    thumb_unselected_hover_color: thumb_unselected_color;

    /* Selected */
    selected_color: accent_color;
    selected_border_color: accent_color;
    thumb_selected_color: white;
    /* --    hover */
    selected_hover_color: derive(accent_color, 40%);

    /* Pressed */
    pressed_color: #666666;
    pressed_border_color: pressed_color;
    thumb_pressed_color: white;
}

/*******************************************************************************
 *                                                                             *
 * Spinner                                                                     *
 *                                                                             *
 ******************************************************************************/

.spinner {
    spinner_background_color: #f0f0f0;

    arrow_button_hover_color: #dadada;
    arrow_button_pressed_color: #606060;

    arrow_color: -fx-mark-color;
    arrow_pressed_color: white;
}

.spinner > .text-field {
    text_color: #111;
}

/*******************************************************************************
 *                                                                             *
 * Date Picker                                                                 *
 *                                                                             *
 ******************************************************************************/

.date-picker {
    graphic_color: #111;
    graphic_focused_color: #111;


    text_color: #111;
    text_focused_color: #111;

    text_selected_color: #fff;
    text_hover_color: text_color;

    text_days_from_other_months_color: derive(text_color, 60%);

    date_picker_background_color: #fff;
    background_focused_color: #fff;
    background_hover_color: #fff;

    border_color: #999999;
    border_hover_color: #666666;

    popup_border_color: #e6e6e6;

    spinner_button_hover_color: #dadada;

    cell_background_color: #fff;

    day_cell_background_color: #e6e6e6;
    day_cell_border_hover_color: #666;

    day_cell_background_days_from_other_months_color: #f2f2f2;

    today_border_color: derive(accent_color, 90%);

    text_field_disabled_background_color: #eaeaea;
}

/*******************************************************************************
 *                                                                             *
 * Label                                                                       *
 *                                                                             *
 ******************************************************************************/

.label {
    text_color: #111;
}

/*******************************************************************************
 *                                                                             *
 * Choice Box                                                                  *
 *                                                                             *
 ******************************************************************************/

.choice-box {
    text_color: #111;

    border_color: #999999;
    border_hover_color: #666666;
    border_focused_color: #7a7a7a;
    border_pressed_color: border_color;

    choice_box_background_color: white;
    background_pressed_color: #cccccc;
}

/*******************************************************************************
 *                                                                             *
 * List View                                                                   *
 *                                                                             *
 ******************************************************************************/

.list-view {
    text_color: #111;

    list_view_background_color: #f2f2f2;
    border_color: transparent;
}

/*******************************************************************************
 *                                                                             *
 * Table View                                                                  *
 *                                                                             *
 ******************************************************************************/

.table-view {
    table_background_color: white;
    table_view_border_color: #e9e9e9;

    text_color: #111;
    hover_text_color: #111;
    selected_text_color: #111;
    selected_unfocused_text_color: #111;

    sort_arrow_color: #111;
    show_hide_image_color: sort_arrow_color;
}

/* Check Box Table Cell */
.check-box-table-cell {
    table_check_box_cell_box_background_color: transparent;
    table_check_box_cell_box_border_color: #111;
    table_check_box_cell_mark_color: #111;
}

/*******************************************************************************
 *                                                                             *
 * Tree View                                                                   *
 *                                                                             *
 ******************************************************************************/

.tree-view {
    tree_view_background_color: white;

    pressed_color: derive(hover_color, -10%);

    text_color: #111;
    text_selected_color: #111;
    text_hover_color: text_color;

    arrow_color: #111;
    arrow__hover_color: text_hover_color;
    arrow_selected_hover_color: text_selected_color;
}

/*******************************************************************************
 *                                                                             *
 * Tree Table View                                                             *
 *                                                                             *
 ******************************************************************************/

.tree-table-view {
    table_border_color: #e9e9e9;
    table_background_color: white;

    table_text_color: #111;
    table_text_selected_color: #111;

    table_column_vline_color: #e6e6e6;
}

/*******************************************************************************
 *                                                                             *
 * Tab Pane and Tabs                                                           *
 *                                                                             *
 ******************************************************************************/

.tab-pane {
    tab_pane_bottom_border_color: #cccccc;

    tab_text_color: #767676;
    tab_text_hover_color: accent_color;
    tab_text_selected_hover_color: derive(accent_color, 30%);

    tab_selected_background_color: white;
    tab_selected_border_color: tab_pane_bottom_border_color;
}

/*******************************************************************************
 *                                                                             *
 * Context Menu, Menus, MenuBar and MenuItem                                   *
 *                                                                             *
 ******************************************************************************/

/****************************** Context Menu **********************************/

.context-menu {
    menu_background_color: #f2f2f2;
    context_menu_border_color: #cccccc;

    separator_color: #c3c3c3;
}

/********************************* Menu Bar ************************************/

.menu-bar {
    menu_bar_background_color: #d3d3d3;

    text_color: #111;

    menu_button_hover_color: #dadada;
}

.menu-item {
    text_color: #111;

    menu_background_color: #f2f2f2;

    graphic_color: #0a0a0a;

    hover_color: #dadada;
    pressed_color: #c2c2c2;
}

/*******************************************************************************
 *                                                                             *
 * Titled Pane                                                                 *
 *                                                                             *
 ******************************************************************************/

.titled-pane {
    text_color: #111;

    title_background_color: #e6e6e6;
    title_background_hover_color: #d6d6d6;

    border_color: #7a7a7a;

    arrow_color: #111;

    content_background_color: #fff;
}

/*******************************************************************************
 *                                                                             *
 * Progress Indicator                                                          *
 *                                                                             *
 ******************************************************************************/

.progress-indicator {
    text_color: #111;
}

/*******************************************************************************
 *                                                                             *
 * Separator                                                                   *
 *                                                                             *
 ******************************************************************************/

.separator{
    border_color: #999;
}

